@mixin telefono {
    @media (min-width:#{$telefono}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width:#{$tablet}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width:#{$desktop}) {
        @content;
    }
}

@mixin box-sizing($box-mode) {
    box-sizing: $box-mode;
}

@mixin boton($bgcolor) {
    background-color: $bgcolor;
    color: $blanco;
    display: block;
    text-align: center;
    text-decoration: none;
    border: none;
    width: 100%;
    border-radius: $radius;
    padding: 1rem 0;
    font-size: 1.2rem;
}